@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');


.App {
  text-align: center;
  padding: 2em 3vw 0;
  font-family: 'Inter','Nunito Sans', sans-serif;
}

button{
  outline: none;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 5vw;

}
.profile__img{
  background-color: rgba(52, 64, 84, 0.75);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 88px 88px;
  width: 88px;
  height: 88px;
  border-radius: 275px;
  
 
}
.profile__img:hover{
  opacity: 0.5;
  transition: ease-in;
  transition-duration: 0.1s;
}
a{

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;

  text-decoration: none;
  color: inherit;
  background-color: #EAECF0;
  margin: 24px 0;
  padding: 24px 32px;
  border: 1px solid #EAECF0;
  border-radius: 8px;

}
a:hover{
  background-color: #D0D5DD;
}

